body {
    padding: 0;
    margin: 0;
    background-color: #e4ede7;
}
.header {
    width: 100%;
    height: 60px;
    background-color: #20645C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: #e4ede7;
    font-size: 40px;
    font-style: italic;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    align-items: center;
    background-color: #E4EDE7;
    border-radius: 8px;
    padding: 20px 0 20px 0;
}
.inputs-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    width: 50%;
}

input:focus {
    outline: none;
}

input {
    display: block;
    padding: 0 20px;
    height: 40px;
    width: 100%;
    outline: none;

    border: 2px solid #fff;
    border-radius: 8px;
    /* border-color: #20645C; */
    box-shadow: 5px 5px 5px #20645C;
    /* margin-bottom: 10px; */
}

input.valid {
    border-color: greenyellow;

}
input.invalid {
    border-color: #f25b31;
}

input+p {
    font-size: 12px;
    margin: 5px 10px;
    color: #20645C;
    margin-top: 5px;
    opacity: 0;
    height: 0;
}

input.invalid+p {
    opacity: 1;
    height: auto;
}



